.hamburger{
    display: none;
}

@media only screen and (max-width:600px) {
    .hamburger{
        display: flex;
        min-width: 60px;
        min-height: 60px;
        justify-content: center ;
        align-items: center;
        flex-direction: column;
        gap: 6px;
        cursor:pointer;
        transition: all 5s ease;
        pointer-events: auto;
        
    }
    .hamburger div:nth-child(1){
        width: 40px;
        height: 3px;
        background: white;
    }
    .hamburger div:nth-child(2){
        width: 40px;
        height: 3px;
        background: white;
        
    }
    .hamburger div:nth-child(3){
        width: 40px;
        height: 3px;
        background: white;
    }
    .hamburger div:nth-child(n){
        transition: transform 0.3s ease;
    }
    .HBGactive div:nth-child(1){
        width: 40px;
        height: 3px;
        background: white;
        transform: translate3d(0, 10px, 0) rotate(45deg);
        
    }
    .HBGactive div:nth-child(2){
        width: 40px;
        height: 3px;
        background: white;
        opacity:0;
    }
    .HBGactive div:nth-child(3){
        width: 40px;
        height: 3px;
        background: white;
        transform: translate3d(0, -8px, 0) rotate(-45deg);
    }
    .HBGactive div:nth-child(n){
        transition: all 0.3s ease;
    }
}