.nav{
    position: fixed;
    height: 40px;
    width: 100%;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
.Right{
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

}
.Right >a{
    text-decoration:none;
    color: white;
    
}
.Left{
    color: white;
    font-size: larger;
    display: flex;
    margin: 3%;
    align-items: center;
    justify-content: center;

}
@media only screen and (max-width:600px) {
    .nav{
        justify-content: unset;
    }
    .Right{
        opacity: 0;
        position: relative;
        right: -100px;
    }
    .Ractive{
        position: fixed;
        right: 0;
        top: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        transition: all 0.5s ease;
        opacity: 1;
    }
    .Ractive>a{
        text-align: right;
    }
}