
.main-contain{
    position: relative;
    height: 100%;
    width: 100%;
    min-width: 350px;
    display: flex;
    justify-content: center;

    background: black;
}
.main-carou-fixed{
    height: 500px;
    width: 100%;
    position: fixed;

}
.main-carousel{
    position: relative;
    height: 100%;
    width: inherit;
    display: flex;
    justify-content: center;
}

.main-review{
    position: absolute;
    top: 23%;
    height: 100%;
    width: 95%;
    margin-left: 1.5%;
    margin-right: 0.5%;
    border-radius: 50px;
    background: #b4ffe3;
}